::-webkit-scrollbar {
    width: 0.2vw;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10vw;
    width: 0.2vw;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1ed760; 
    border-radius: 0.2vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5dfc92; 
}